body {
  background-color: #80bfff;
  font-family: Helvetica;
  font-size: 20px;
}

button {
  font-size: 15px;
}

#nav-bar {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #ffff66;
  padding: 10px 0;
  font-family: Helvetica;
}

.nav-item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #0066cc;
  display: block;
}

#maincontent {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 70px;
}
